@font-face{
    font-family: Russ1;
    src: url(/recursos/Quesha.ttf);
}

@font-face{
    font-family: Russ2;
    src: url(/recursos/Lactosa.otf);
}

@font-face{
    font-family: Russ3;
    src: url(/recursos/Dontclickme.ttf);
}

@font-face{
    font-family: Russ4;
    src: url(/recursos/Forefarmer.ttf);
}

@font-face{
    font-family: Russ5;
    src: url(/recursos/July.ttf);
}

@font-face{
    font-family: Russ6;
    src: url(/recursos/Mouser.ttf);
}

@font-face{
    font-family: Russ6;
    src: url(/recursos/Pauraque.ttf);
}